<div class="container">
  <div class="form-group col-md-12">
    <input type="text" class="form-control" [(ngModel)]="item.name">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="add()">Add</button>
  </div>
  <hr>
  <ul *ngFor="let item of itemList?.content">
    <li>Name:{{item?.name}} CreatedDate:{{item?.createdDate | date:"dd/MM/yyyy"}}</li>
  </ul>
</div>
